@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
    --color-primary:#fafafa;
    --color-secondary:#6D545D;
    --color-tertiary: #ABB557;
    --color-bg:#bed558;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-bg);
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-tertiary);
    padding: 50px;
    /* max-height: 700px; */
}
