@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
    --color-one:#fafafa;
    --color-two:#91d1ff;
    --color-three: #5992fd;
    --color-four:#2b579b;
    --color-five: #082344;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    overflow: hidden;
    color: var(--color-one);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-five);
}

.login{
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-four);
    padding: 50px;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
}

.email-container{
    width: 100%;
    position: relative;
    margin: 40px;
}

.pass-container{
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

label{
    position: absolute;
    left: 0;
}

label span{
    color: var(--color-one);
    font-size: 18px;
}

input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px var(--color-two) solid;
    color: var(--color-one);
    padding: 8px 0;
}

input:focus{ 
    outline: none;
}

input:focus + label span{
    display: inline-block;
    transform: translateY(-30px);
    transition: transform 0.5s ease;
}

.btn-login{
    width: 100%;
    padding: 20px 0;
    background-color:var(--color-three);
    border: none;
    color: var(--color-one);
    font-size: 18px;
    border-radius: 6px;
}